@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;700&display=swap');

:root {
  /* COLOR PALETTE */
  --rc--color-p: #f5f5f5;
  --rc--color--hover: #00e1ff;
  --rc--color-button: #008ce9;
  --rc--color-light: #0b0a1f;
  --rc--color--highlight: #6cace4;
  --rc--color--divider: rgb(164, 164, 164);

  /* BACKGROUND COLOR */
  --rc--bg-dark: #0b0a1f;
  --rc--bg-light: #f8f9fa;

  /* TYPOGRAPHY COLOR */
  --rc-color-typography-heading: var(--rc-color-n-500);
  --rc-color-typography-body: var(--rc-color-n-500);
  --rc-color-typography-price: var(--rc-color-n-300);

  /* TYPOGRAPHY */
  --rc-typography-typeface: 'Sarabun', sans-serif;

  /* FONT SIZE */
  --rc-typography-h1: 1.9rem;
  --rc-typography-h2: 1.5rem;
  --rc-typography-h3: 1.2rem;
  --rc-typography-p: 0.8rem;

  /* LETTER SPACING */
  --rc-typography-heading-spacing: 0.5rem;
  --rc-typography-content-spacing: 0.1rem;

  /* GAP */
  --rc-gap: 1.5rem;

  /* PADDING */
  --rc-section-padding: 1.5rem 0;
  --rc-btn-padding: 0.5rem 2rem;

  /* BORDER */
  --rc-border: 0.12rem solid var(--rc-color-n-050);

  /* SIZING */
  --rc-image-height: 18rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sarabun', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--rc--bg-dark);
  color: var(--rc--bg-light);
  transition: all 0.5s ease-in-out;
}

.light {
  background-color: var(--bg-light);
  color: var(--primary-light);
}

main {
  min-height: 80vh;
}

a, p {
  font-size: 1.1rem;
}