nav {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    flex-wrap: wrap;
  }
  @media (max-width: 770px) {
    nav {
      padding: 0 2rem;
    }
  }
  nav > ul {
    display: flex;
    gap: 3rem;
  }
  nav button {
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.5);
    cursor: pointer;
  }
  nav a {
    transition: all 0.5s ease-in-out;
  }
  nav a:hover {
    color: var(--rc--color--hover)
  }
